div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc6tvbgQY6nYdiUnYLrzbcK9IJXrYfo_XjIg&s);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 400px;
}

div:hover {
    background-image: url(https://i.pinimg.com/736x/b2/3d/eb/b23debb8f76e2fb1263bee5b64d50567.jpg);
}